<ion-view view-title="ABOUT">
  <ion-content class="padding">
    
    <div class="card">
      <div class="item item-divider centra-texto">
        <h2><b>Nomintex App &#169; 2016</b></h2>
      </div>
      <div class="item item-text-wrap">
        <p style="font-size:15px">Aplicación para dispositivos móviles propia de la empresa mayorista en textil Nomintex S.L libre de derechos copyright y enteramente desarrollada por Álvaro Cuevas bajo software libre sin licencias a fecha de 02/2016.</p>
      </div>
    </div>
    
  </ion-content>
</ion-view>
