<ion-view view-title="CONTACT">
  <ion-content class="padding">
    
    <form ng-submit="sendForm()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="nombre">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="apellidos">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="correo">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Comments</span>
          <input type="text" placeholder="Comments" ng-model="comentario">
        </label>

        <div class="item item-input-inset">
          <label class="item item-input-wrapper">
            <input type="text" placeholder="Your location" ng-model="posicion">
          </label>
          <button class="button" ng-click="getPosicion()"><i class="ion-navigate"></i></button>
        </div>

        <div class="item item-toggle">
          <input type="text" placeholder="Job experience">
          <label class="toggle toggle-royal">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </div>

      </div>

      <button class="button button-full button-dark" type="submit"><i class="ion-paper-airplane"></i>&nbsp; SEND IT!</button>
    </form>
    
  </ion-content>
</ion-view>
