<ion-view view-title="NOMINTEX S.L">
  <ion-content class="padding">
    
    <div class="card">
      <div class="item item-divider centra-texto">
        <img src="img/logo.png" width="200" height="200">
      </div>
      <div class="item item-text-wrap">
        <p style="font-size:15px">Nomintex is a wholesale company in the textile and fashion industry. Our role is to further develop this family business with special focus on expanding our market share by improving sales, install state of the art information technologies and datamining processes to further improve our market knowledge and our respond time to market changes.</p>
      </div>
    </div>

    <div class="list centra-texto">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-checkmark"></i>
        Leading the textile sector in Spain
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-tshirt-outline"></i>
        High quality textile clothes
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        1200 satisfied clients every month
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-car"></i>
        Daily services of logistics
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-pricetags-outline"></i>
        Multiple brand clothes registered
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-cart"></i>
        Increasing sales every year
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-twitter-outline"></i>
        Adapted to new technologies industry
      </a>

    </div>


  </ion-content>
</ion-view>
